* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#result {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.bmi {
    margin-bottom: 10px;
}

.bmi-guide {
    margin-bottom: 10px;
}