* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: white;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

h1 {
    border: 2px solid;
    padding: 15px;
}

h2 {
    border: 2px solid;
    padding: 15px;
}

p {
    margin: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button {
    padding: 5px;
    margin-top: 5px;
}

#input {
    padding: 5px;
    margin-top: 10px;
}